*{
    margin: 0;
    padding: 0;
}

body{
    height: 100vh;
    width: 100%;
    font-family: sans-serif;
}

.divceu{
    height: 300px;
    width: 100%;
    background-color: rgb(153, 226, 220);
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.divgrama{
    height: 100vh;
    width: 100%;
    background-color: green;
    color: white;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.btncap{
    border-radius: 100%;
    height: 100px;
    width: 100px;
    font-size: 50px;
    background-color: yellow;
    border: 1px solid gainsboro;
    font-weight: bold;
}